<div  *ngIf="size!=0">
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Theatre Name </th>
            <th>Tickets Available</th>   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let movie of movies |paginate:{
            itemsPerPage: tableSize,
            currentPage:page};" >
            <td> {{ movie.key.movieName }} </td>
            <td> {{ movie.key.theatreName }} </td>
            <td>{{ movie.totalNoOfTickets}}</td>
            <td><button class="btn btn-primary" (click)="bookTicket(movie)">Book</button>
                <button *ngIf="status" class="btn btn-danger" (click)="deleteMovie(movie.key.movieName,movie.key.theatreName)">Delete</button>
                <button *ngIf="status" class="btn btn-primary" (click)="movieDetails(movie)">Details</button></td>
    </tr>
    </tbody>
</table>
<div>

    <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
    </pagination-controls>   
</div>
<div>
    <a routerLink="/movieslist">Home</a>
</div>
</div>
<h2 *ngIf="size==0">Movie does not exist.<a routerLink="/movieslist">Back to search</a></h2>
<!-- <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" 
showFirstLastButtons></mat-paginator> -->







